html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
}

:root {
    --primary-theme-color: linear-gradient(90deg, #8B0000, #222B22);
    --secondary-theme-color: #F7F9FA
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background: var(--primary-theme-color) !important;
    color: #fff;
    padding: 20px 0;
}
.navbar-brand {
    color: #fff !important;
}

.footer {
    background: var(--secondary-theme-color);
    color: #fff;
    margin-top: auto; 
    padding: 20px 0;
}

.nav-link {
    color: #fff !important;
}

.dropdown-menu {
    background: var(--secondary-theme-color);
}

.dropdown-item:hover {
    background-color: lightgray;
}